body {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  color: #121212;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
  text-align: justify;
}
h1 {
  font-size: 70px;
  line-height: 72px;
  color: #ce9b61;
  font-weight: 500;
}
h2 {
  font-size: 60px;
  line-height: 70px;
}
h3 {
  font-size: 48px;
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  letter-spacing: 5px;
  color: #ce9b61;
  font-weight: bold;
}
h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 100;
  color: white;
}
.sub-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: white;
}
#plans {
  background: rgb(236, 187, 131);
  background: linear-gradient(
    162deg,
    rgba(236, 187, 131, 1) 9%,
    rgba(206, 155, 97, 1) 52%,
    rgba(165, 78, 49, 1) 84%,
    rgba(124, 0, 0, 1) 100%
  );
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
#plans:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.btn {
  background-color: #641515;
  color: wheat;
  opacity: 70%;
}
.btn:hover {
  background-color: #641515;
  color: wheat;
  opacity: 100%;
}
