<div class="container">
  <div class="row g-5 py-5">
    <div class="text-center">
      <h5>PRICING</h5>
      <h3>Membership Plans</h3>
    </div>
    <div
      class="col-lg-5 border mx-5 p-4"
      id="plans"
      style="height: 370px;"
      *ngFor="let product of products"
    >
      <h2>{{ product.name }}</h2>
      <h4>{{ product.price | currency }}</h4>
      <p class="py-2">{{ product.description }}</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button
          type="button"
          class="btn btn-lg px-4"
          (click)="addToCart(product)"
          routerLink="/register"
        >
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>
