<section class="gallery" id="gallery">
  <div class="container">
    <div class="text-center">
      <br><br>
      <h5>GALLERY</h5>
      <h3>Memory Lane</h3>
      <span class="sub-title">Best Moments happened Here at Papa J's</span>
    </div>

    <div class="tz-gallery">
      <div class="row my-4">
        <div class="col">
          <a
            class="lightbox"
            href="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/2.png"
          >
            <img
              src="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/2.png"
              alt="N/A"
              style="width: 400px;"
            />
          </a>
        </div>
        <div class="col">
          <a
            class="lightbox"
            href="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/3.png"
          >
            <img
              src="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/3.png"
              alt="N/A"
              style="width: 400px;"
            />
          </a>
        </div>
        <div class="col">
          <a
            class="lightbox"
            href="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/4.png"
          >
            <img
              src="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/4.png"
              alt="N/A"
              style="width: 400px;"
            />
          </a>
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <a
            class="lightbox"
            href="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/5.png"
          >
            <img
              src="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/5.png"
              alt="N/A"
              style="width: 400px;"
            />
          </a>
        </div>
        <div class="col">
          <a
            class="lightbox"
            href="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/6.png"
          >
            <img
              src="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/6.png"
              alt="N/A"
              style="width: 400px;"
            />
          </a>
        </div>
        <div class="col">
          <a
            class="lightbox"
            href="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/7.png"
          >
            <img
              src="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/7.png"
              alt="N/A"
              style="width: 400px;"
            />
          </a>
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <a
            class="lightbox"
            href="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/8.png"
          >
            <img
              src="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/8.png"
              alt="N/A"
              style="width: 400px;"
            />
          </a>
        </div>
        <div class="col">
          <a
            class="lightbox"
            href="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/9.png"
          >
            <img
              src="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/9.png"
              alt="N/A"
              style="width: 400px;"
            />
          </a>
        </div>
        <div class="col">
          <a
            class="lightbox"
            href="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/10.png"
          >
            <img
              src="https://stackblitz.com/files/angular-ivy-lltftz/github/RockyBndc/GYM-KEL/main/src/app/img/10.png"
              alt="N/A"
              style="width: 400px;"
            />
          </a>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
</section>
