<!-- ======= Hero Section ======= -->
<section>
  <div class="home" id="home">
    <div id="herocontent">
      <div class="container col-10" id="hero">
        <div class="hero-content text-center">
          <h2>Welcome to</h2>
          <h1><span style="color: #ce9b61;">Papa J's</span> Fitness!</h1>
          <h6 class="my-5">Shape your Body. Train Harder, Be Stronger.</h6>

          <div class="col-md-2 mx-auto">
            <a href="#about-history"
              ><button type="button" class="btn">See More</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
