<body>
  <section>
    <div class="container-fluid">
      <div class="container">
        <h5>PRICING</h5>
        <h3>Membership Plans</h3>
        <br /><br />
        <div class="row">
          <div class="col-3">
            <div class="card text-center">
              <div class="title">
                <h2>Platinum</h2>
              </div>
              <div class="price">
                <h4><sup>$</sup>299</h4>
              </div>
              <div class="option">
                <ul>
                  <li>&bull;1 month All access to gym's premium features</li>
                  <li>
                    &bull;Unlimited group classes and Personal training sessions
                  </li>
                  <li>&bull;Full access to all facilities and amenities</li>
                </ul>
              </div>
              <a
                routerLink="/memDetails"
                class="nav-link active"
                aria-current="page"
                >Read More</a
              >
            </div>
          </div>
          <div class="col-3">
            <div class="card text-center">
              <div class="title">
                <h2>Gold</h2>
              </div>
              <div class="price">
                <h4><sup>$</sup>199</h4>
              </div>
              <div class="option">
                <ul>
                  <li>
                    &bull;1 month all access to equipments, cardio machines, and
                    group classes
                  </li>
                  <li>&bull;Personal training session</li>
                  <li>&bull;Exclusive discounts on selected amenities</li>
                </ul>
              </div>
              <a
                routerLink="/memDetails"
                class="nav-link active"
                aria-current="page"
                >Read More</a
              >
            </div>
          </div>
          <div class="col-3">
            <div class="card text-center">
              <div class="title">
                <h2>Silver</h2>
              </div>
              <div class="price">
                <h4><sup>$</sup>149</h4>
              </div>
              <div class="option">
                <ul>
                  <li>
                    &bull;1 month access to gym's basic amenities, cardio
                    machines, and strength training equipment
                  </li>
                  <li>&bull;Limited group classes</li>
                  <li>&bull;Discounts on personal training sessions</li>
                </ul>
              </div>
              <a
                routerLink="/memDetails"
                class="nav-link active"
                aria-current="page"
                >Read More</a
              >
            </div>
          </div>
          <div class="col-3">
            <div class="card text-center">
              <div class="title">
                <h2>Bronze</h2>
              </div>
              <div class="price">
                <h4><sup>$</sup>99</h4>
              </div>
              <div class="option">
                <ul>
                  <li>
                    &bull;1 month access to gym's basic facilities, cardio
                    machines, and strength equipment
                  </li>
                  <li>&bull;Offer fewer perks than other plan</li>
                  <li>&bull;Great for starters</li>
                </ul>
              </div>
              <a
                routerLink="/memDetails"
                class="nav-link active"
                aria-current="page"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br />
  </section>
</body>
